.TabelaProdutos table {
    width: 100%;
}

.TabelaProdutos th {
    background-color: #0e9e67;
    color: #fff ;
}

.TabelaProdutos .Par {
   background-color: #ccc;
}

.TabelaProdutos .Impar {
    background-color: #ffffffaf;
 }